# Visual Studio Code settings
.vscode/*

# Python settings
*.py[cod]
__pycache__/*
*.pyo
*.pyd
*.pyc
*.pdb

# Log files
final/*.log
*.log

# Execution files
*.exe
final/*.exe

# Data files
*.dat